.card{   
    box-shadow: 15px 20px 20px black,
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height:360px;
    width:260px;  
    transition: .2s; 
}
.card:hover{
    box-shadow: 5px 5px 10px black,
                inset 4px 4px 10px white;
    transition: .2s;  
}