*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#navbar{
    position: sticky;
    top:0;
    left:0;
    z-index:100;
    padding:.5rem 5rem;
}
#navbarSupportedContent a:hover{
    color: yellowgreen;
    border-bottom: 2px solid transparent;
    transition-duration: 1.5s;
}
#navbarSupportedContent button{
    background: yellowgreen;
}
#picture:hover{
    box-shadow: inset 5px 5px 10px black,
                inset -4px -4px 10px white;
    transition: .2s;            
    transition-duration: 0.5s; 
}
#picture{ 
    box-shadow: 15px 20px 20px black,
                inset 4px 4px 10px white;
    border: none !important;
} 
#contact {
    background-color: black;
}
#contact button{
    background:  yellowgreen;
}

